/* style3.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* แก้ box-sizing เป็น border-box */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    overflow: hidden; /* ป้องกันการเลื่อนหน้าเว็บ */
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background-color: #3498db;
    padding: 1rem;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff; /* เพิ่มสีให้กับ logo */
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #e74c3c;
}

section {
    margin: 20px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

.container h3 {
    margin-top: 20px;
}

.container p {
    margin-bottom: 15px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 0.1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
