<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Pet Sitters</title>
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   
    <nav> 
        <div class="contianer">
        <div class="nav-wrapper">
            <div class="logo"> 
                <a href="/">
                    <img src="/logo.webp" alt="logo" class="logo-image">
                    <div class="logo-text"><h3>Find Pet Sitters</h3>
                        <h6>connect with lovely pet Sitter</h6></div>
                </a>
            </div>
            
            <% if(loggedIn) { %>
                
                <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/logout">logout</a></li>
                    </ul>
                <% } %>   
                <% if(!loggedIn) { %>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/about">About Us</a></li>    
                    </ul>
                <% } %>
            
        </div>
    </div>
    </nav>
                
        
            
    
    

    <section id="section-service">
          <img src="/pngtree-simple-cute-pet-dog-background-picture-image_1375478.jpg" alt="Dog and Cat" class="background-image">

        <h2>ค้นหาคนรับเลี้ยงสัตว์ ของคุณง่ายขึ้นด้วย Find Pet Sitters !</h2>
       
            <label for="service">ประเภทการใช้งาน</label>
            <ul class="service">
                <li><a href="/owner"><h3>หาผู้รับเลี้ยง</h3></a></li>
                <li><a href="/login"><h3>ผู้รับเลี้ยง</h3></a></li>
            </ul>
 
           
            
       
    </section>

   
    <footer>
        <p>&copy; 2024 Find Pet Sitters</p>
    </footer>

    <script src="app.js"></script>
</body>
</html>
