* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    background-color:#3498db;
    padding: 1rem;
   
}
.nav-wrapper {
    display : flex  ;
    justify-content: space-between;
     align-items: center;
}
.logo a {
    text-decoration: none; /* เพิ่มบรรทัดนี้เพื่อลบเส้นใต้ลิงก์ */
    display: flex;
}
.logo-image {
    width: 50px; /* ปรับขนาดความกว้างตามที่คุณต้องการ */
    height: auto; /* ให้ระบุความสูงเป็น "auto" เพื่อให้มีอัตราส่วนที่ถูกต้อง */
}
.logo-text {
    display: flex;
    flex-direction: column; /* จัดเรียงข้อความให้อยู่ในแนวดิ่ง */
}

.logo-text h3 {
    margin: 0; /* ลบระยะขอบของ <h3> */
}

.logo-text h6 {
    margin-top: 5px; /* กำหนดระยะห่างด้านบนของ <h6> */
}

body {
     /* แทนที่ 'path/to/your/image.jpg' ด้วยที่ตั้งของไฟล์รูปภาพของคุณ */
    background-size: cover; /* ปรับขนาดรูปภาพให้เต็มพื้นหลัง */
    background-position: center; /* กำหนดตำแหน่งในการจัดวางรูปภาพ */
    background-repeat: no-repeat; /* ป้องกันการทำซ้ำของรูปภาพ */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
     height: 100%;
     width: 100%;
     bottom: 100%;
   
   /* 
    
   
    object-fit: cover; /* ปรับขนาดภาพให้เต็มพื้นที่ */
    z-index: -1; /* ส่งไปข้างหลังของเนื้อหา */
}



section {
    margin: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input,
select,
button {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 0.1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-wrapper .logo h3 {
    color: #fff;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #e74c3c;
}