*{
    margin : 0;
    padding :0;
    box-sizing: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    background-color:#3498db;
    padding: 1rem;
   
}
.nav-wrapper {
    display : flex  ;
    justify-content: space-between;
     align-items: center;
}

.logo a {
    text-decoration: none; /* เพิ่มบรรทัดนี้เพื่อลบเส้นใต้ลิงก์ */
    display: flex;
}
.logo-image {
    width: 50px; /* ปรับขนาดความกว้างตามที่คุณต้องการ */
    height: auto; /* ให้ระบุความสูงเป็น "auto" เพื่อให้มีอัตราส่วนที่ถูกต้อง */
}
.logo-text {
    display: flex;
    flex-direction: column; /* จัดเรียงข้อความให้อยู่ในแนวดิ่ง */
}

.logo-text h3 {
    margin: 0; /* ลบระยะขอบของ <h3> */
}

.logo-text h6 {
    margin-top: 5px; /* กำหนดระยะห่างด้านบนของ <h6> */
}

#my-account-section {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.account-section {
    margin-bottom: 20px;
}

.account-section h3 {
    margin-top: 0;
}

#update-profile form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#update-profile label {
    font-weight: bold;
}

#update-profile input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#update-profile button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-profile button:hover {
    background-color: #0056b3;
}

#user-profile p {
    margin: 5px 0;
}

#user-profile span {
    font-weight: bold;
}

#user-profile {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#user-profile h3 {
    margin-top: 0;
}
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 0.1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.nav-wrapper .logo h3{
    color: #fff
}
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #e74c3c;
}